
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgb(50, 50, 50);
    color: rgb(180, 180, 180);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

button,
input {
    background-color: rgb(100, 100, 100);
    color: rgb(10, 10, 10);
}

canvas {
    margin: 0px;
    padding: 0px;
}

/* yoinked from https://www.w3schools.com/howto/howto_css_switch.asp */

.switch {
    position: relative;
    display: inline-block;
    width: 33px;
    height: 20px;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .1s;
    transition: .1s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .1s;
    transition: .1s;
}
  
input:checked + .slider {
    background-color: #6d6868;
}

input:focus + .slider {
    box-shadow: 0 0 1px #6d6868;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}