
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgb(50, 50, 50);
    color: rgb(180, 180, 180);
}

body {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.map-panel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-panel {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-end;
}

button,
input {
    background-color: rgb(100, 100, 100);
    color: rgb(10, 10, 10);
}

canvas {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

/* yoinked from https://www.w3schools.com/howto/howto_css_switch.asp */

.switch {
    position: relative;
    display: inline-block;
    width: 33px;
    height: 20px;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #6d6868;
    -webkit-transition: .1s;
    transition: .1s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .1s;
    transition: .1s;
}
  
input:checked + .slider {
    background-color: blue;
}

input:focus + .slider {
    box-shadow: 0 0 1px blue;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* I made this part myself */

.settings-wrapper {
    width: 50%;
    height: 25%;
    padding: 10px;

    background-color: #ccc;
    color: black;

    display: none;

    border-radius: 10px;

    margin-bottom: 10px;
}

input:checked + .settings-wrapper {
    display: block;
}

.gear-icon {
    position: absolute;

    width: 50px;
    height: 50px;
}

.settings-button {
    display: block;
    position: relative;

    z-index: 1;
  
    opacity: 0;
    background-image: url("./media/GrayGearIcon.png");
    background-position:center;

    width: 50px;
    height: 50px;

    background-color: transparent;

    margin: 0px;
    padding: 0px;
    border: 0px;
}